<template>
<div>
    <component :is="$hierarchyTagCalculator( hierarchy )">This is the <code>Baz</code> component.</component>
    <table>
        <tr>
            <th>$isMobile</th>
            <td v-text="$isMobile"></td>
        </tr>
        <tr>
            <th>$mq</th>
            <td v-text="$mq"></td>
        </tr>
    </table>
    <div v-html="message"></div>
</div>
</template>
<script>
export default {
    name: "Baz",
    props: {
        message: {
            type: String,
            default() {
                return "You didn't specify <code>message</code> copy."
            }
        }
    },
    mounted() {
        console.log( "Vue SFC loaded!", this );
    }
}
</script>
<style lang="scss" scoped>
div {
    padding: 20px;
    border: 2px solid #ccc;
    color: #444;
    display: block;

    code {
        display: inline-block;
        border: 1px solid #999;
        background-color: #444;
        color: white;
        vertical-align: middle;
    }
}
</style>