// general.scss
// Styles that span all (or most) pages
// the intent is for this to be SUPER basic

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// testing the autoprefixer…
::placeholder {
  color: red;
}