// mixins.scss
// Any/all mixins (so that dependency order can be controlled in styles.scss)


// media query fun
@mixin bp( $measure ){
  @media ( min-width: $measure ){
    @content;
  }
}
// handy for edgecases
@mixin bpmax( $measure ){
  @media ( max-width: ($measure - 1) ){
    @content;
  }
}


// base transitions
@mixin transition( $property: all, $duration: $base-transition-duration, $easing: ease-in-out ){
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -ms-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}


/* Text meant only for screen readers. */
@mixin screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}


// Focus for a11y
@mixin focus-border {
  &:focus {
    border-color: inherit;
    outline: none;
    box-shadow: inset 0px 0px 0px $focus-width $focus-color;
  }
}