/* 
    Variables
*/

// colors
$color-error: #f00;






// breakpoints
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1024px !default;
$screen-xl: 1440px !default;
$content-max-width: 1600px;

// fonts
$font-heading-family: "Tahoma", "Geneva", serif;
$font-body-family: "Arial", sans-serif;
$font-color: #666;
$font-size: 18px;

// links
$link-color: #00f;
$link-hover-color: #77f;

// a11y focus
$focus-color: red;
$focus-width: 5px;

// transitions
$base-transition-duration: 195ms;
$base-transition-easing: cubic-bezier(0.4, 0.0, 0.2, 1);

// Tricksssy Unicode Entities
$character-non-breaking-space: '\00A0';



